<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


            <!-- 합쳐지고 최소화된 최신 CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
            
            <!-- 부가적인 테마 -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
            
            <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

            <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
    <div class="container">
        <h1><b>Word Count Web Page</b></h1> <br>
        <ul class="nav nav-pills">
                <li role="presentation"><a href="{%url 'index'%}">Home</a></li>
                <li role="presentation" class="active"><a href="{%url 'about'%}">About</a></li>
        </ul>
        <br>
        <p><b>이곳은 글자를 세주는 워드카운트 웹페이지 입니다. 시험기간에 과제를 하면 이런 결과물이 나옵니다..</b></p>
    </div>


</body>
</html>

